.top-contents
  .top-contents__main
    - @category.each do |parent|
      %h6
        = parent.name
    = link_to "", class: 'mypage__main--note__right' do
      %span
        もっと見る
      %i.fas.fa-chevron-right
  %ul
    = render partial: "shared/itemslist", collection: @items, as: "item"