.top-contents
  .top-contents__main
    %h6
      レディース新着アイテム
    = link_to "", class: 'mypage__main--note__right' do
      %span
        もっと見る
      %i.fas.fa-chevron-right
  %ul
    - @items.each do |item|
      = render partial: "shared/itemslist", locals: { item: item }