%li
  .product-show-items-list
    .product-show-items-list__box
      = link_to "", class: "show-product-link" do
        .product-show-item-box-photo
          = image_tag (box.image), alt: ""
        .product-show-item-box-body
          .product-show-item-box-body-name
            = box.product_name
            .product-show-item-box-body-price
              