.confirmation-header{
  height: 128px;
  text-align: center;
}

.purchase-completed-wrapper{
  width: 100%;
&__main-container{
  width: 700px;
  background-color: #fff;
  margin: 0 auto 0;

&__header{
  position: relative;
  height: 140px;
  background: #FDF5E6;
  border-bottom: 1px solid #eee;
&__upper{
  position: absolute;
  top: 30px;
  left: 280px;
  color: #CC3300;
  font-size: 20px;
  font-weight: bold;
}
&__lower{
  box-sizing: border-box;
  padding-top: 85px;
  padding-left: 60px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
   }
  }
 }


.purchase-completed-wrapper__main-container{

  &__result{
  height: 65px;
  margin: 30px auto 0;
  border-bottom: 1px solid #eee;
  }
&__text{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  }
 }
 &__main-container__info{
  position: relative;
  height: 200px;
  padding: 20px;
  border-bottom: 1px solid #eee;
  &__name{
  margin-top: 180px;
  text-align: center;
  font-weight: bold;
   }
  }
 }


.huku{
  position: absolute;
  height: 170px;
  width: 170px;
  left: 270px;
}

.huku_1{
  position: absolute;
  height: 100%;
  width: 100%;
}

.purchase-completed-wrapper__main-container__price{
  height: 70px;
  padding: 40px 250px 0;
  border-bottom: 1px solid #eee;
  &__value{
    float: left;
    font-weight: bold;
    font-size: 20px;
  }
  &__note{
    float: right;
    font-size: 16px;
    margin: 6px 22px 0 0;
  }
}
  .purchase-completed-wrapper__main-container__address{
    padding: 40px 170px 40px;
    line-height: 16px;
    &__title{
  }
  &__post-code{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    }
    &__city{
    margin-top: 5px;
    font-size: 14px;
    }
    &__name{
      font-size: 14px;
    }
  }
  .purchase-confirmation-footer{
    height: 250px;
    padding: 40px 0;
    text-align: center;
  }

  .btn-default.btn-gray{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .btn-default.btn-gray:hover{
    text-decoration: underline;
  }

  .linkbtn{
    color: white;
    background-color:#ea352d;
    border-color: #ea352d;
    margin: 40px 0 0;
    padding: 15px 42%;
    border-top: 1px solid #f5f5f5;
  }


  .confirmation-main__container__credit-info{
    margin-left: 100px;
  }

  .confirmation-main__container__buy-info__container__user-info-fixx{
    font-size: 14px;
    margin-top: 10px;
    display: block;
    text-align: right;
    color: #0099e8;
    text-decoration: none;
    margin-right: 104px;
  }