.confirmation-header{
  height: 128px;
  text-align: center;
}

.purchase-completed-wrapper{
  width: 100%;
}

.purchase-completed-wrapper__main-container{
  width: 700px;
  background-color: #fff;
  margin: 0 auto 0;
}

.purchase-completed-wrapper__main-container__header{
  position: relative;
  height: 140px;
  background: #FDF5E6;
  border-bottom: 1px solid #eee;
}

.purchase-completed-wrapper__main-container__header__upper{
  position: absolute;
  top: 30px;
  left: 280px;
  color: #CC3300;
  font-size: 20px;
  font-weight: bold;
}

.purchase-completed-wrapper__main-container__header__lower{
  box-sizing: border-box;
  padding-top: 85px;
  padding-left: 60px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}