.confirmation-header
  = render 'shared/sub_header'
.purchase-completed-wrapper
  .purchase-completed-wrapper__main-container
    .purchase-completed-wrapper__main-container__header
      .purchase-completed-wrapper__main-container__header__upper
        発送をお待ちください
      .purchase-completed-wrapper__main-container__header__lower
        出品者からの発送通知をお待ちください
    .purchase-completed-wrapper__main-container__result
      .purchase-completed-wrapper__main-container__result__text
        .btn-default.btn-gray
          =link_to "メルカリ一覧へ","root_path",method: :post
    .purchase-completed-wrapper__main-container__info
      =image_tag "https://s3-ap-northeast-1.amazonaws.com/freemarket-sample-58c/uploads/image/goods_picture/146/G%E3%82%B7%E3%82%99%E3%83%A3%E3%83%B3.jpg",class: "huku"