.confirmation-header
  = render 'shared/sub_header'
.purchase-completed-wrapper
  .purchase-completed-wrapper__main-container
    .purchase-completed-wrapper__main-container__header
      .purchase-completed-wrapper__main-container__header__upper
        発送をお待ちください
      .purchase-completed-wrapper__main-container__header__lower
        出品者からの発送通知をお待ちください
    .purchase-completed-wrapper__main-container__result
      .purchase-completed-wrapper__main-container__result__text
        .btn-default.btn-gray
          =link_to "トップページへ",root_path,method: :get
    .purchase-completed-wrapper__main-container__info
      =image_tag "https://s3-ap-northeast-1.amazonaws.com/freemarket-sample-58c/uploads/image/goods_picture/138/%E3%82%B7%E3%83%A5%E3%83%95%E3%82%9A8.jpg",class: "huku"
      .purchase-completed-wrapper__main-container__info__name
        服
    .purchase-completed-wrapper__main-container__price
      .purchase-completed-wrapper__main-container__price__value
        ¥2,800
      .purchase-completed-wrapper__main-container__price__note
        送料込み
    .purchase-completed-wrapper__main-container__address
      .purchase-completed-wrapper__main-container__address__title
        配送先
      .purchase-completed-wrapper__main-container__address__post-code
        〒689-3541
      .purchase-completed-wrapper__main-container__address__city
        鳥取県米子市
      .purchase-completed-wrapper__main-container__address__name
        加藤
.purchase-confirmation-footer
  = render 'shared/sub_footer'