.confirmation-header
  = render 'shared/sub_header'
.purchase-completed-wrapper
  .purchase-completed-wrapper__main-container
    .purchase-completed-wrapper__main-container__header
      .purchase-completed-wrapper__main-container__header__upper
        発送をお待ちください
      .purchase-completed-wrapper__main-container__header__lower
        出品者からの発送通知をお待ちください
    .purchase-completed-wrapper__main-container__result
      .purchase-completed-wrapper__main-container__result__text